In [1]:

name="abhishek"
for i in name:
    print(i)
    if(i=="b"):
        print("this is somthing special!")

a
b
this is somthing special!
h
i
s
h
e
k

In [7]:
colors=["red","green","blue","yellow"]
for i in colors:
    print(i)
    for j in i:
        print(j)

red
r
e
d
green
g
r
e
e
n
blue
b
l
u
e
yellow
y
e
l
l
o
w

In [3]:
#range(5)
#start=0
#condition<5
#increment_1
#0,1,2,3,4

#range(1,6)
#start=1
#condition<6
#increment_1
#1,2,3,4,5 

#range(1,6,2)
#start=1
#condition<6
#increment_2
#1,3,5

In [4]:
for k in range(5):
    print(k)

0
1
2
3
4

In [5]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [6]:
for k in range(1,6,2):
    print(k)

1
3
5

In [7]:
for k in range(1,11):
    print("2*",k,"=",k*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [9]:
for k in range(5):
    print(k+1)

1
2
3
4
5

In [9]:
for k in range(1,9):
    print(k)

1
2
3
4
5
6
7
8

In [10]:
for k in range(1,9):
    print(k+1)

2
3
4
5
6
7
8
9

In [3]:
a=int(input("Enter yoour age"))
print("your age is:",a)



if(a<18):
    print("You can drive!")
else:
    print("you can not drive!")

Enter yoour age18
your age is: 18
You can drive!

In [5]:
num=int(input("enter the number"))
if(num<0):
    print("number is negative")
elif(num>0):
    if(num<=10):
        print("number is between 1-10")
    elif(num>10 and num<=20):
        print("number is between 11-20")
    else:
        print("number is greater than 20")
else:
    print("number is zero")

enter the number0
number is zero

In [10]:
# range(10,0,-1)
for k in range (10,0,-1):
    print(k)
print()
for t in range(10,-1,-2):
    print(t)

10
9
8
7
6
5
4
3
2
1

10
8
6
4
2
0

In [ ]:
#start
#condition
#increment/decrement

i=1
while i<=10:
    print("how are you")
    i=i+1

In [ ]:
i=10
while i>=1:
    print(i,"hello friends")
    i=i-1

In [ ]:
w="welcome to wscubetech"
print(w[6])
print(w[-13])
print(w[8])

In [ ]:
w="welcome ti wscubetech"
print(w[0:7])
print(w[0::2])
print(w[-1:-10:-2])
print(w[-1::-2])
print(w[-1::-1])#reverse

In [6]:
w="welcome ti wscubetech"
t=len(w)
print(t)
for a in range(t):
    print(w[a])

21
w
e
l
c
o
m
e

t
i

w
s
c
u
b
e
t
e
c
h

In [8]:
w="welcome ti wscubetech"
t=len(w)
for a in range(t-1,-1,-1):
    print(w[a])

h
c
e
t
e
b
u
c
s
w

i
t

e
m
o
c
l
e
w

In [7]:
w="welcome to wscubetech"
n=w.lower()
print(n)

u=w.upper()
print(u)

t=w.title()
print(t)

r=w.capitalize()
print(r)

welcome to wscubetech
WELCOME TO WSCUBETECH
Welcome To Wscubetech
Welcome to wscubetech

In [9]:
w="welcome"
print(w.find('e'))

1

In [10]:
w="welcome"
print(w.find('e',2))

6

In [ ]:
w="welcome"
print(w.index('c',3))

In [ ]:
w="welcome"
print(w.isalpha())

print(w.isdigit())

In [ ]:
w="123"
print(w.isdigit())
print(w.isalpha())

In [ ]:
w="welcome123" 
print(w.isdigit())
print(w.isalpha())
print(w.isalnum())

In [ ]:
#convert integer 65 to ASCII charector('a')
y=chr(65)
print(type(y),y)

In [ ]:
#convert ASCII unicord charactor'a' to 65
y=ord('A')
print(type(y),y)

In [ ]:
txt="welcome to {fname}{lname}".format(fname="wscube",lname="tech")#named indexes
print(txt)

In [ ]:
#numberd index
txt="welcome to {0}{1}".format("wscube","tech")
print(txt)

In [ ]:
#empty place holdar
txt="welcome to {} {}".format("wscube","tech")
print(txt)

In [12]:
#even/odd
num=int(input("enter a number"))
if num%2==0:
    print("num is even")
else:
    print("num is odd")

enter a number0
num is even

radius=float(input("enter a radius"))
if radius>0:
    area=3.14*radius*radius
    print(area)
else:
    print("area can not be difined")

In [13]:
test1=int(input("enter 1st integer"))
test2=int(input("enter 2nd integer"))
test3=int(input("enter 3rd integer"))
if test1!=test2!=test3:
    print("1")
else:
    print("0")

enter 1st integer2
enter 2nd integer7
enter 3rd integer9
1

In [16]:
m=int(input("enter 1st integer"))
n=int(input("enter 2nd integer"))
if m%n==0:
    print(m/n)
else:
    print(0)

enter 1st integer2
enter 2nd integer3
0

In [17]:
#pythagoraen problem
a=int(input("enter 1st integer"))
b=int(input("enter 2nd integer"))
c=int(input("enter 3rd integer"))
if a*a+b*b==c*c or a*a==b*b+c*c or b*b==a*a+c*c:
    print("1")

else:
    print("0")

enter 1st integer2
enter 2nd integer3
enter 3rd integer4
0

In [18]:
#looping/iteration statemment

# -single or multiple statements are execute multiple times.
#looping statement:-

#1.while loop
#2.for loop
#3.iterator

#loop---(1)definite loop:-programmer known the no of loops.----------------use for loop.
        #(2)indefinite loop :- programmer dont know the no of loops.-------use while loop.

In [ ]:
#while loop
#print hello world as user want.

n=int(input("enter no. of times"))
i=1
while i<=n:
    print("hello world")
    i=i+1

In [19]:
#pass:does nothing at all:it s an empty statement placeholder.   
n=int(input("enter no. of times"))
i=1
while i<=n:
    pass
    i=i+1
print("thanking you")

enter no. of times10
thanking you

In [20]:
#break

i=1
while i<=10:
    print(i)
    if i==5:
        break
    i=i+1

1
2
3
4
5

In [1]:
#prime no

n=int(input("enter a number"))
flag=0
i=2
while i<n:
    if n%i==0:
        print("not a prime number")
    else:
        print("number is prime")
        break

enter a number11
number is prime

In [ ]:
#while & else

i=1
while(i<=10):
    print(i)
    if i==3:
        break
    i=i+1    
else:
    print("this is else clause")
print("thanking you")

In [1]:
#forloop


s="simplilearn"
for i in s:
    print(i,end="*")

s*i*m*p*l*i*l*e*a*r*n*

In [5]:
#use for loop in a list
programming=["java","python","ruby","html"]
for item in programming:
    print(item)

java
python
ruby
html

In [2]:
#find the avg of a list of numbers

list_num=[20,25,10,50,45]
sum=0
for i in list_num:
    sum=sum+i
print("sum=",sum)
print("average=",sum/len(list_num))

sum= 150
average= 30.0

In [5]:
num=(30,45,60,50,70)
sum=0
for i in num:
    sum=sum+i
print(sum)

255

In [15]:
num=10
n1,n2=0,1
print("fibomacchi series:",n1,n2)
for i in range (2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")

fibomacchi series: 0 1
1 2 3 5 8 13 21 34

In [10]:
a=1
b=2

In [16]:
#teporary variable
c=a
a=b
b=c
print(a,b)

2 1

In [19]:
#swap variable without temporary variable
a,b=b,a
print(a,b)

1 2

In [23]:
a,b=b,a

print(a,b)

1 2

In [ ]:
rows=int(input("enter a rows"))
for i in range(0,rows):
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

In [1]:
cash=int(input("Enter a cash amount"))
if cash%5==0:
    print(cash-0.5)
else:
    print("money can not debit")

Enter a cash amount20
19.5

In [14]:
radius=float(input("enter a radius"))
if radius>0:
    area=3.14*radius*radius
    print(area)
else:
    print("area can not be difined")

enter a radius2
12.56

In [1]:
h=float(input())
b=float(input())
area=1/2*b*h
print(area)

10
10
50.0

In [8]:
year=int(input("enter a year"))

if (year % 400==0)and(year%100==0):
    print(year,"is a leap year.")
else:
    print("this is not a leap year")

enter a year2023
this year not a leap year

In [22]:
num=int(input('enter a number'))
if num==1:
    print("it is a prime number")
if num>1:
    for i in range(2,num):
        if num%i==0:
            print("it is not a prime number")
            break
        else:
            print("it is prime number")
            break

enter a number44
it is not a prime number

In [16]:
lower=int(input("enter lower limit here"))
upper=int(input("enter upper limit here"))
for i in range (lower,upper+1):
    if num>1:
        for j in range (2,i):
            if i%j==0:
                break
        else:
            print(i)

enter lower limit here2
enter upper limit here50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [1]:
celcius=int(input("enter tempreture in celcius: "))
fahrenheit=(celcius*(9/5))+32
print("the converted value is " , fahrenheit,"F")

enter tempreture in celcius: 40
the converted value is  104.0 F

In [3]:
#FACTORIAL PROBLEM USING FORLOOP

num=int(input("enter a number here: "))
fac=1
if num<0:
    print("factorial of -ve value does not exist")
if num==0:
    print("factorial of 0 is",1)
if num>0:
    for i in range(1,num+1):
        fac=fac*i
print("the factorial of the given number is",fac)

enter a number here: 0
factorial of 0 is 1
the factorial of the given number is 1

In [4]:
for i in range(1,11):
    print("11","*",i,"=",i*11)

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [6]:
#fibonacci series
a=0
b=1
num=int(input("enter a number to obtain fibonacci sequence: "))
if num==1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(1,num+1):
        c=a+b
        a=b
        b=c
        print(c)

enter a number to obtain fibonacci sequence: 10
0
1
1
2
3
5
8
13
21
34
55
89

In [19]:
#sum of natural numbers

num=int(input("enter a number here: "))
if num<0:
    print("please enter a positive number")
else:
    sum=0
    while num>0:
        sum+=num
        num=num-1
    print(sum)

enter a number here: 5
15

In [20]:
#find numbers divisible by another number


for i in range (1,100):
    if i%13==0:
        print(i)

13
26
39
52
65
78
91

In [24]:
#factors of number 

num=int(input("enter a number"))
for i in range(1,num+1):
    if num%i==0:
        print("the factors of this number is :  ",i)

enter a number12
the factors of this number is :   1
the factors of this number is :   2
the factors of this number is :   3
the factors of this number is :   4
the factors of this number is :   6
the factors of this number is :   12

In [32]:
#calculator

num1=float(input("enter the value 1: "))
num2=float(input("enter the value 2: "))
opr=input("enter the operators: ")
if opr=="+":
    print(num1+num2)
elif opr=="-":
    print(num1-num2)
elif opr=="*":
    print(num1*num2)
elif opr=="/":
    print(num1/num2)
else:
    print("invalid optarors")

enter the value 1: 20.5
enter the value 2: 40.2
enter the operators+
60.7

In [5]:
rows = int(input("Enter number of rows: "))

for i in range(0,rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0,-1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

In [38]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [36]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 5
* * * * * * *
  * * * * *
    * * *
      *

In [2]:
num1=int(input("enter a first number"))
num2=int(input("enter a second number"))
print(num1)
print(num2)

enter a first number10
enter a second number20
10
20

In [3]:
c=num1
num1=num2
num2=c
print(num1,num2)

20 10

In [16]:
rows = int(input("Enter number of rows: "))
coef = 1

for i in range(rows):
    for space in range(rows-i-1):
        print(" ",end="")
    for j in range(0,i):
        if j==0 or i==0:
            coef = 1   
        else:
            coef = coef*(i-j)//j
        print(coef,end=" ")
    print()

Enter number of rows: 6

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [ ]:
userInput = int(input("Enter number for testing: "))

if userInput%2==0:
    print("The number is not a prime number")
    
else:
    print("The number is prime number")

In [1]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0,-1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

Enter number of rows: 5
*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [1]:
def test_range(n):
    if n in range(3,9):
        print("%s in the range"%str(n))
    else:
        print("the number is outside the given range.")
test_range(5)        11

5 in the range

In [3]:
def calculategmean(a,b): 
    mean=(a*b)/(a+b)
    print(mean)
    
def isgreater(a,b):
    if(a>b):
        print("first number is greater")
    else:
        print("second number is greater or equal")
a=9
b=8
isgreater(a,b)
#gmean1=(a*b)/(a+b)
#print(gmean1)
calculategmean(a,b)
c=8
d=74
isgreater(c,d)
#gmean2=(c*d)/(c+d)
#print(gmean2)
calculategmean(c,d)

first number is greater
4.235294117647059
second number is greater or equal
7.219512195121951

In [6]:
 #Function to calculate the total marks
def calculate_total_marks(subject_marks):
    return sum(subject_marks)

# Function to calculate the percentage
def calculate_percentage(total_marks, total_subjects):
    return (total_marks / (total_subjects * 100)) * 100

# Function to calculate the grade
def calculate_grade(percentage):
    if percentage >= 90:
        return 'A+'
    elif percentage >= 80:
        return 'A'
    elif percentage >= 70:
        return 'B'
    elif percentage >= 60:
        return 'C'
    elif percentage >= 50:
        return 'D'
    else:
        return 'F'

# Main program
print("Enter student details:")
student_name = input("Student Name: ")
total_subjects = int(input("Total Subjects: "))

subject_marks = []

for i in range(total_subjects):
    subject_name = input(f"Enter subject {i+1} name: ")
    marks = float(input(f"Enter marks for {subject_name}: "))
    subject_marks.append(marks)

total_marks = calculate_total_marks(subject_marks)
percentage = calculate_percentage(total_marks, total_subjects)
grade = calculate_grade(percentage)

print("\nStudent Marksheet:")
print("Student Name:", student_name)
print("Total Marks:", total_marks)
print("Percentage:{:.2f}%".format(percentage))
print("Grade:",grade)

Enter student details:
Student Name: man
Total Subjects: 2
Enter subject 1 name: df
Enter marks for df: 56
Enter subject 2 name: fb
Enter marks for fb: 67

Student Marksheet:
Student Name: man
Total Marks: 123.0
Percentage:61.50%
Grade: C

In [7]:
# Define a list of questions
questions = [
    "What is your name?",
    "What is your age?",
    "Where are you from?"
]

# Create an empty list to store the user's responses
responses = []

# Iterate through the questions and collect user responses
for question in questions:
    response = input(question + " ")
    responses.append(response)

# Print the user's responses
print("Here are your responses:")
for i in range(len(questions)):
    print(f"{questions[i]}: {responses[i]}")

What is your name? man chaudhary
What is your age? 34
Where are you from? kheda
Here are your responses:
What is your name?: man chaudhary
What is your age?: 34
Where are you from?: kheda